/*미디어쿼리 - 태블릿 버전 768px*/

@media all and (max-width:768px){
   
    #pc-hd{display: none;}
    #tb-hd{display: block;}
    
    .c1textbox,.c1introbox{
       float: none;
       width: 100%;
    }
    .c1textbox{
       padding-top: 0;
    }
    .c1introbox .cttext{
       top: 260px;
    }
    
    #con3 p{
       font-size: 1.3rem;
    }
    footer .align{
       padding-left: 1rem;
    }
 
    /* sub */
    .wallet li{
        width: 45%;
    }
    .wallet li:nth-child(3),
    .wallet li:nth-child(6){
        margin-right: 1.5%;
    }
    .wallet li:nth-child(9){
        display: none;
    }
 }